<h2>Datos del Paciente</h2>
<img src="/avatar_default.png" width="128" height="128"></img><br><br>
<ul>
  <li>Nombres: <%= @user.fname %></li>
  <li>Apellidos: <%= @user.lname %></li>
  <li>Fecha de Nacimiento: <%= @user.dob %></li>
  <li>Edad: 22</li>
</ul>

<%= link_to "Ver mis predispociones a tener alguna enfermedad crónica", "/surveys" %>

