<p id="notice"><%= notice %></p>

<h3>Encuestas de Medicina Preventiva</h3>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.description %></td>
        <td><%= link_to 'Realizar', survey , :class => "btn btn-outline-success"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
