<h3>Ingresa tus datos</h3>

<div id="riskGroup">
    <label>Seleccione su edad</label><br>
    <input type="radio" id="older_than_45" name="age_1" value="older_than_45">
    <label for="older_than_45">Mayor o igual a 45 años</label><br>
    <input type="radio" id="younger_than_45" name="age_1" value="younger_than_45">
    <label for="younger_than_45">Menor a 45 años</label><br><br>

    <label>Ingrese su peso</label><br>
    <input type="number" id="mass" name="mass" placeholder="70">
    <label>kg.</label><br><br>

    <label>Ingrese su altura</label><br>
    <input type="number" id="height_1" name="height_1" placeholder="1">
    <label>,</label>
    <input type="number" id="height_2" name="height_2" placeholder="64">
    <label>metros</label><br><br>

    <label>Seleccione las casillas en caso de cumplirlas</label><br>
    <input type="checkbox" id="cb1" value="diabetes">
    <label for="cb1"> Poseo un pariente de primer grado diabéticos (padres, hermanos) </label><br>
    <input type="checkbox" id="cb2" value="diabetes">
    <label for="cb2"> Estuve embarazada con algún hijo macrosómico (que pesó 4 kg. o más al momento de nacer) o tuve diabetes gestacional </label><br>
    <input type="checkbox" id="cb3" value="diabetes">
    <label for="cb3"> Vivo una estilo de vida sedentario (menos de 30 minutos diarios de ejercicio regular y menos de 3 días a la semana) </label><br>
    <input type="checkbox" id="cb4" value="diabetes">
    <label for="cb4"> Soy hipertenso (mayor o igual a 140/90 mmHg)  </label><br>
    <input type="checkbox" id="cb5" value="diabetes">
    <label for="cb5"> Tengo el colesterol "bueno" (HDL) menor o igual a 35 (mg/dl) y/o los triglicéridos mayor o igual a 250 (mg/dl) </label><br>
    <input type="checkbox" id="cb6" value="diabetes">
    <label for="cb6"> Estados de insulino resistencia (síndrome de ovario poliquístico, acantosis nigricans) </label><br>
    <input type="checkbox" id="cb7" value="diabetes">
    <label for="cb7"> He tenido alguna enfermedad cardiovascular </label><br>
    <br><input type="submit" value="Enviar" id="riskGroupSubmit">
</div>

<div id="symptoms" hidden>
    <label>Seleccione los síntomas que presenta en caso de presentar alguno</label><br>
    <input type="checkbox" id="cb2_1" value="diabetes">
    <label for="cb2_1"> Sed intensa a pesar de beber líquidos en abundancia (Polidipsia)</label><br>
    <input type="checkbox" id="cb2_2" value="diabetes">
    <label for="cb2_2"> Producción anormal de grandes cantidades de orina (Poliuria) </label><br>
    <input type="checkbox" id="cb2_3" value="diabetes">
    <label for="cb2_3"> Comer en exceso por tener mucha hambre o aumento del apetito (Polifagia) </label><br>
    <input type="checkbox" id="cb2_4" value="diabetes">
    <label for="cb2_4"> Baja de peso considerable </label><br>
    <br><input type="submit" value="Enviar" id="symptomsSubmit">
</div>

<div id="glucoseTest" hidden>
    <label>Ingrese lo obtenido en su test de glicemia</label><br>
    <input type="number" id="glucoseMeasurement" name="glucoseMeasurement" placeholder="120">
    <label>mg/dl</label>
    <br><input type="submit" value="Enviar" id="glucoseTestSubmit">
</div>

<div id="healthy" hidden>
  Ústed no tiene un riesgo significativo de tener diabetes tipo 2.
</div>

<div id="atRisk" hidden>
  Ústed tiene un riesgo significativo de tener diabetes tipo 2. Se recomienda ir a un
  centro medico a examinarse.
</div>
